<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ćwiczenia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />

</head>
<body>



<div class="container">
    <div class="table-responsive" th:if="not ${dates.isEmpty()}">
        <table class="table table-striped">
            <tr>
                <th>Util Date</th>
                <th>Util Time</th>
            </tr>
            <tr th:each="datetest: ${dates}" th:object="${datetest}">
                <td th:text="*{utilDate}"></td>
                <td th:text="*{utilTime}"></td>
            </tr>
        </table>
    </div>
    <a th:href="@{/addDate}">dodaj date</a>
    <div th:if="${dates.isEmpty()}">
        <h1>Brak dat</h1>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>

</body>
</html>