<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Logowanie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" >


</head>
<body>

    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <form th:action="@{/login}" method="post" class="form-signin">
                <h2>Logowanie</h2><br />

                <div th:if="${param.error}" class="text-danger">
                    Niepoprawna nazwa użytkowanik lub hasło <br />
                </div>
                <div th:if="${register}" class="text-info">
                    Zarejestrowano poprawnie <br />
                </div>
                <input name="username" placeholder="Username" class="form-control"/><br />
                <input name="password" placeholder="Password" class="form-control"/><br />
                <input type="submit" value="Zaloguj" class="btn btn-primary btn-block" /><br />

            </form>
            <form th:action="@{/register}" method="get">
                <button class="btn btn-warning btn-block" type="Submit">Rejestracja</button>
            </form>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.css}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.css}"></script>
</body>
</html>