<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ćwiczenia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />

</head>
<body style="background-color: #888888">

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-info mb-2">
    <div class="container">
        <a class="navbar-brand" href="#" th:href="@{/}">Strona główna</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/exercises}">ĆWICZENIA</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PLANY TRENINGWE
                    </a>
                    <div class="dropdown-menu bg-info" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-light" href="#" th:href="@{/createPlan}">STWÓRZ PLAN</a>
                        <a class="dropdown-item text-light" href="#" th:href="@{/myWorkouts}">MOJE PLANY</a>
                    </div>
                </li>
            </ul>

            <form action="logout" th:action="@{/logout}" method="post" class="form-inline my-2 my-lg-0">
                <input type="submit" value="WYLOGUJ" class="btn btn-outline-light btn-rounded btn-block waves-effect z-depth-0"/>
            </form>

        </div>
    </div>
</nav>


<div class="container card bg-light px-0 mb-2">

    <div class="table-responsive">
        <table class="table table-striped">
            <tr class="card-header bg-info">
                <th class="text-light">Trening</th>
                <th class="text-light">Numer</th>
                <th class="text-light">Ćwiczenie</th>
                <th class="text-light">Serie</th>
                <th class="text-light">Powtórzenia</th>
                <th class="text-light">Przerwa</th>
                <th></th>
            </tr>
            <tr th:each="exerciseTraining: ${exerciseTrainings}" th:object="${exerciseTraining}">
                <td th:text="*{trainingDayNumber}"></td>
                <td th:text="*{number}"></td>
                <td th:text="*{exercise.name}"></td>
                <td th:text="*{sets}"></td>
                <td th:text="*{reps}"></td>
                <td th:text="*{rest}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${exerciseTrainings.isEmpty()}">
        <h2 class="text-center" style="color: red">BRAK PLANÓW TRENINGOWYCH</h2>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>

</body>
</html>